extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/main.js')
  script(src='/javascripts/etchasketch.js')
  
  script(type="text/javascript")
    var CentUI = new Cent.UI({
        "parentContainer": '#CentUI',
        "profileContainer": ".profileBlocks .row",
        "siteContent" : "/javascripts/centinaro.json"
      });

block content
  #CentUI
    .span12
      header.hero.hero-unit
        h1(title="We Are The Full Stack.") We Are The Full Stack.
        p.sub-head 
          | Hi, we're Bill and Kristi Centinaro, a couple of developers 
          br 
          | that love to build fun, useful things for the web.
          span.icon.icon-heart
    .span12
      #projectView
    .span12
      .profileBlocks
        .row
  .span12
    footer#footer
      h4 About This Site
      p We handcrafted this site in less than 2 days using node express, socket.io, precompiled handlebars, sass, and jade. 
        a(href="") View Source Code
      p.small
        em "Build good, useful things you love, and the rest will follow."