extends layout

block scripts
  script(type="text/javascript")
    var CentUI = new Cent.UI({
        "parentContainer": '#CentUI',
        "profileContainer": ".profileBlocks .row",
        "siteContent" : "/javascripts/centinaro.json"
      });

block content
  #CentUI
    .span12
      .hero.hero-unit
        hgroup
          h1(title="We Are The Full Stack.") We Are The Full Stack.
          p 
            | Hi, we're Bill and Kristi Centinaro, a couple of developers
            br 
            | that love to build good, useful things for the web.
            span.icon.icon-heart
    .span12
      #projectView
    .span12
      .profileBlocks
        .row