doctype 5
html
  head
<<<<<<< HEAD
    title Centinaro.net
    script(type='text/javascript', src='/javascripts/lib/jquery.js')
    script(type='text/javascript', src='/javascripts/lib/handlebars.runtime.js')
    script(type='text/javascript', src='/javascripts/lib/jquery.isotope.min.js')
    script(type='text/javascript', src='/javascripts/templates.handlebars')
    script(type='text/javascript', src='/javascripts/main.js')

    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='icon', href='/images/favicon.ico')
    block scripts

=======
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/webSocket.js')
>>>>>>> e1790d1129febb9e03ad98e9a00beec66281bf86
  body
    .container
      block content
