doctype 5
html
  head
    title Centinaro.net
    script(type='text/javascript', src='/javascripts/lib/jquery.js')
    script(type='text/javascript', src='/javascripts/lib/handlebars.runtime.js')
    script(type='text/javascript', src='/javascripts/lib/jquery.isotope.min.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap-tooltip.js')
    script(type='text/javascript', src='/javascripts/templates.handlebars')

    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='icon', href='/images/favicon.ico')
    block scripts


  body
    .container
      block content
