
// bit of a hack, but helps with jumping.
html
  overflow-y: scroll

body
  background: url(/images/bg_noise.png)


p
  font-size: 13px
  line-height: 20px

// Hero area
.hero
  background: none
  +border-radius(0)
  text-align: left
  padding-bottom: 0
  margin-bottom: 20px

  h1
    text-shadow: -1.5px -1.5px 2px #3A3A3A
    position: relative
    margin-bottom: 8px

    &:before, &:after
      content: attr(title)
      color: rgba(255,255,255,1)
      position: absolute
    &:before
      top: 1px
      left: 1px
      opacity: .12
    &:after
      top: 2px
      left: 2px
      opacity: .12
  p
    line-height: 25px
    color: $darkerGrey
    .icon
      +opacity(50)

@media(max-width: 575px)
  .hero
    h1
      text-shadow: none
      &:before, &:after
        content: none
        display: none

#footer
  border-top: $dottedBorder
  padding-top: 8px
  margin-top: 8px