<div class="profile span6" itemscope itemtype="http://schema.org/Person">
  <div class="image">
    <img itemprop="image" src="{{portrait_url}}" />
  </div>
  <div class="details">
    <h2 itemprop="name" class="name">{{name}}</h2>
    <p itemprop="jobTitle" class="title">{{title}}</p>

    <div class="social-icons">
      {{#each social_links}}
        <a href="{{url}}" itemprop="url" target="_blank" title="{{title}}"><span class="social {{name}}"></span></a>
      {{/each}}
    </div>
    <div class="btn-group">
      <a class="btn resume" href="{{resume_url}}">
        <span class="small">Download</span>
        <span>Resume</span>
      </a>
      <a class="btn projects" href="javascript:;" data-filter="{{shortname}}">
        <span class="small">View</span>
        <span>Projects</span></a>
    </div>
  </div>
</div>