<div class="filters btn-group">
  <a class="btn" href="javascript:;" data-filter="kristi">Kristi</a>
  <a class="btn" href="javascript:;" data-filter="bill">Bill</a>
  <a class="btn" href="javascript:;" data-filter="all">All</a>
</div>

<div class="projects"></div>
<a class="close" href="javascript:;">collapse <span>close</span></a>
