<div class="project {{#each owner}} {{.}}{{/each}} collapsed">
  <div class="image">
    <img src="{{thumbnail}}" />
  </div>
  <h4 class="name">{{name}}</h4>
  <p class="description">{{{description}}}</p>
  {{#if url}}
    <a class="projectLink" href="{{url}}" target="_blank">View Project</a>
  {{/if}}
</div>