<div class="project {{#each owner}} {{.}}{{/each}}">
  <div class="image">
    <img src="{{thumbnail}}" />
  </div>
  <div class="details">
    <h4 class="name">{{name}}</h4>
    <p class="description">{{description}}</p>
  </div>
  {{#if url}}
    <a class="projectLink" href="{{url}}" target="_blank">View Project</a>
  {{/if}}
</div>