<div class="project">
  <div class="image">
    <img src="{{thumbnail}}" />
  </div>
  <div class="details">
    <h4 class="name">{{name}}</h4>
    <p class="description">{{description}}</p>
  </div>
</div>